[phases.setup]
nixPkgs = ["php82", "php82Extensions.curl", "php82Extensions.pdo_mysql", "php82Packages.composer", "nodejs_22", "yarn"]

[phases.install]
cmds = [
  "composer install --no-dev --optimize-autoloader",
  "npm install"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "php artisan serve --host 0.0.0.0 --port ${PORT:-3000}"
